<html>
  <style>
    body {
        background: rgba(35, 119, 139, 0.493) }
    section {
        background: rgba(238, 192, 39, 0.863);
        font-size: 29px;
        color: rgb(0, 0, 0);
        border-radius: 4em;
        padding: 4em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
  </style>
  <section>
   <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
  </section>